<a href="https://colab.research.google.com/github/behrad-mohammadi/salary-prediction-data-jobs/blob/main/Notebook/salary_analysis_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Predicting Salaries for Data-Related Jobs**
This repository contains the code, data and analysis for my MSc IT in Business Data Analytics project at IBS.

**Topic:** Predicting Salaries for Data-Related Jobs

**Student:** Behrad KhamenehMohammadi

#**CHAPTER 1 - INTRODUCTION**

##**1.1	BACKGROUND**

The job market for data-related work is changing very fast. Many companies need data analysts, data scientists, and AI engineers to help them work with information and make better decisions. Because these jobs are new and very different from traditional office jobs, people often do not know what a “fair salary” should be. Salaries can also be very different between countries, companies, and job titles. For example, a data scientist in one country may earn much more than a data analyst in another place, even if they have similar skills.

In the last few years, many global events also changed the job market. The pandemic has made remote working more common around the world, and more companies have adjusted their salary levels in this period of time. New technologies, such as the rise of artificial intelligence, have also changed skill requirements, which has had a significant impact on salary expectations. With these changes, it is important to understand the factors that affect salary levels in all occupations, including data-related occupations. A clear view of these factors can help job seekers make better decisions and help employers create fair and competitive salary plans.

##**1.2	PROBLEM STATEMENT**

Salary levels in data-related jobs are very different across countries, companies, and job roles. Some studies show that factors such as company size, company location, job title and experience can create strong differences in salaries (Ramkumar et al., 2024). Because of this, job seekers often do not know what a fair salary is, and employers also find it difficult to set the right pay.

Global events also created more problems. Research shows that COVID-19 changed skill needs in the labour market and affected salary patterns (Juarez & Villaseñor, 2024). Other studies explain that the Russia–Ukraine war caused economic instability, which also influenced job markets (Semenenko et al., 2024). New AI tools, such as ChatGPT, also changed job structures and created uncertainty in many occupations (Zarifhonarvar, 2023; Johnston & Makridis, 2025).

Because of all these factors, it is difficult to understand which variables have the biggest effect on salaries in data-related jobs. There is a need for a clear model that shows the important features and explains how external events may change salary patterns.

In [ ]:
#Connected Colab to Google drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Import main dataset
import pandas as pd

main_path = '/content/drive/MyDrive/IBS_Salary_Project/main_salary_dataset.csv'
df = pd.read_csv(main_path)

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Research Scientist,208000,USD,208000,US,0,US,M
1,2025,MI,FT,Research Scientist,147000,USD,147000,US,0,US,M
2,2025,SE,FT,Research Scientist,173000,USD,173000,US,0,US,M
3,2025,SE,FT,Research Scientist,117000,USD,117000,US,0,US,M
4,2025,MI,FT,AI Engineer,100000,USD,100000,US,100,US,M

#**REFERENCES**

1.	Johnston, A.C. and Makridis, C. (2025) ‘The Labor Market Effects of Generative AI: A Difference-in-Differences Analysis of AI Exposure’, SSRN, [Online] Available at: https://dx.doi.org/10.2139/ssrn.5375017  (Accessed: 25 Oct 2025).

2.	Juarez, L. and Villaseñor, P. (2024) ‘Effects of the COVID-19 Pandemic on the Labor Market Outcomes of Women with Children in Mexico’, Economía, 23(1), pp. 30–49. [Online] Available at: https://www.jstor.org/stable/27366129 (Accessed: 26 November 2025).

3.	Ramkumar, P.N., Bernstein, J.A., Landy, D.C., DeMik, D.E., Deen, J.T., Olsen, R.J. and Cohen-Rosenblum, A. (2024) ‘Determinants of Salary Variation and the Gender Pay Gap: A Survey of the American Association of Hip and Knee Surgeons (AAHKS) Surgeon Member Workforce’, Arthroplasty Today, 30. [Online] Available at: https://doi.org/10.1016/j.artd.2024.101554 (Accessed:  22 Sep 2024).

4.	Semenenko, O., Sliusarenko, M., Onofriichuk, A., Onofriichuk, V. and Remez, A. (2024) ‘Impact of the Russian–Ukrainian War on the National Economy of Russia’, Journal of Interdisciplinary Economics, 36(1), pp. 41–57. [Online] Available at: https://doi.org/10.1177/02601079231207489 (Accessed:  01 Jan 2024).

5.	Zarifhonarvar, A. (2023) ‘Economics of ChatGPT: a labor market view on the occupational impact of artificial intelligence’, Journal of Electronic Business & Digital Economics, 3(2), pp. 100–116. [Online] Available at: https://doi.org/10.1108/JEBDE-10-2023-0021 (Accessed:  14 Nov 2023).